* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto';
    background-color: #0F172A;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    gap: 121px;
}
.header-logo {
    display: flex;
    justify-content: center;
    gap: 5.5px;
}


.logo-text {
    font-weight: 700;
    font-size: 30px;
    color:#16B8F3;
}

.block {
    width: 11px;
    border: 2.75px solid #16B8F3;
    display: inline-block;
    border-radius: 3px;
}
.block1 {
    height:14.67px;
    margin-right: -5px;
    
}
.block2 {
    height: 22px;
    margin-right: -6px;
    
}
.block3 {
    height: 29.33px;
    
}

.nav-ul {
    display: flex;
    list-style: none;
    gap: 40px;
    flex: none;
    justify-content: center;
    align-items: center;
    padding: 0px;
    order: 1;
    flex-grow: 0;
    color: #F8FAFC;
}

li {
    font-weight: 700;
    font-size: 24px;
}
a {
    text-decoration: none;
    color: #F8FAFC;
}

.main {
    margin-left: 145px;
    margin-right: 145px;
    margin-bottom: 139px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #F8FAFC;
    margin-top: 132.5px;
    margin-bottom: 83px;
}

.blue {
    color: #16B8F3;

}

.projects {
    display: flex;
    flex-direction: column;
    gap: 41px;
}
.project {
    background-color: #1E293B;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    color: #F8FAFC;
}



h3 {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
margin-bottom: 25px;
}

.project-p {
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
}
.first-line {
    margin-bottom: 14px;
}
.projectimg2 {
    width: 200px;
    margin-left: 17px;
    margin-right: 76px;
}
.projectimg3 {
    width: 150px;
    margin-left: 27px;
    margin-right: 106px;
}
.projectimg1 {
    width: 250px;
    margin-left: 8px;
    margin-right: 44px;
}

.posts {
    display: flex;
    gap: 20px;
}

.post {
    background-color: #1E293B;
    border-radius: 20px;
    width: 369px;
    height: 518px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    gap: 22.75px;
}

.post-img {
    width: 369px;
}

.post-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #F8FAFC;
}

.post-date {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #9CA3AF;
}

.post-info {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #F8FAFC;
    text-align: center;
}

footer {
    display: flex;
    color: #CBD5E1;
    justify-content: space-between;
    padding: 20px 100px;
    border-top: 1px solid #CBD5E1;
}

.copyright {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #CBD5E1;    
}

.logos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;    
}